*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(#D5F3FF 0%, #51B4E8 100%) ;
}

/* NavBar */

.header{
  display: flex;
}

.input-group{
  width: 50vw;
  margin: auto;
}


/* Card */

.containerCard{
  display: flex;
  margin-top: 80px;
 
}

.container-card{
  display: grid;
  background: linear-gradient(#e5f2ff 0%, #d5f3ff 97.4%);
  border-radius: 4.85px;
  box-shadow: -10px 14px 28px 0px rgba(0,0,0,0.44);
  width: 50vw;
  height: auto;
  margin: auto;
}

.info1{
  margin-left: 20px;
  margin-top: 5px;
  color: #56a4f1;
}

.info2{
  margin-top: 5px;  
  margin-right: 10px;
  color: #56a4f1;
}

img{
  height: 50%;
  width: 50%;
  float: right;
  margin-bottom: 10px;
}

.text{
  float: right;
}

/* button */

.container-button{
  display: flex;
  margin-top: 80px;
  margin-bottom: 20px;
}


.button{
  background: #38A8d8;
  box-shadow: -5px 4px 8px 0px rgba(0,0,0,0.44);
  border-radius: 4.85px;
  offset: 0px, 4.85px rgba(128, 126, 126, 0.25);
  color: white;
  padding: 5px;
  margin: auto;
}

