*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  perspective: 800px;
}

/* NavBar */

.header{
  display: flex;
 
}

/* Card */

.containerCard{
  display: flex;
  margin-top: 80px;
 
}

.container-card{
  display: flex;
  background: linear-gradient(#e5f2ff 0%, #d5f3ff 97.4%);
  border-radius: 4.85px;
  box-shadow: -10px 14px 28px 0px rgba(0,0,0,0.44);
  width: 50vw;
  height: auto;
  margin: auto;
}

.info1{
  margin-left: 20px;
  margin-top: 5px;
}

.info2{
  margin-top: 5px;
  align-items:end
  
}

img{
  height: 50%;
  width: 50%;
  transform: translateY(-40px);
}

/* button */

.container-button{
  display: flex;
  margin-top: 80px;
}


.button{
  background: #38A8d8;
  box-shadow: -5px 4px 8px 0px rgba(0,0,0,0.44);
  border-radius: 4.85px;
  offset: 0px, 4.85px rgba(128, 126, 126, 0.25);
  color: white;
  padding: 5px;
  margin: auto;
}